/**
 * CSS file for the Table Size admin pages.
 */

form#table-size-admin-form .table-size-quota div {
  display: inline;
}

form#table-size-admin-form td.error {
  color: #a00;
  font-weight: bold;
}