/**
 * CSS file for the Table Size admin settings pages.
 */

form#table-size-admin-settings-form div.form-item-data-min {
  display: inline;
}
form#table-size-admin-settings-form div.form-item-data-min label {
  display: inline;
  font-weight: normal;
}

form#table-size-admin-settings-form div.form-item-data-max {
  display: inline;
}
form#table-size-admin-settings-form div.form-item-data-max label {
  font-size: 1em;
}

form#table-size-admin-settings-form div.form-item {
  margin-bottom: 0;
}

form#table-size-admin-settings-form div.form-item-data-language {
  padding-top: 0;
  padding-bottom: 20px;
}